<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/main-container.css">
    <link rel="stylesheet" href="static/css/card-container.css">
</head>

<body>
    <div class="navbar">

    </div>

    <div class="main-container">

        <div class="left-bar"></div>

        <div class="container">
            <div class="card">
                <a href="#"><img src="https://avatars.mds.yandex.net/i?id=314f421e9bdbf41f411310abc8e9e328e47db4ce-8975527-images-thumbs&n=13" alt=""></a>
                <div class="info">
                    <a href="#">
                        <p>Чебуреки</p>
                    </a>
                    <a href="#">
                        <p>25</p>
                    </a>
                    <a href="#">
                        <button>Купить сейчас</button>
                    </a>
                </div>
            </div>

            <div class="card">
                <a href="#"><img src="https://avatars.mds.yandex.net/i?id=d574695c1c8bcc583550a10074c98500a4d20386-9215166-images-thumbs&n=13" alt=""></a>
                <div class="info">
                    <a href="#">
                        <p>Чебуреки</p>
                    </a>
                    <a href="#">
                        <p>25</p>
                    </a>
                    <a href="#">
                        <button>Купить сейчас</button>
                    </a>
                </div>
            </div>

            <div class="card">
                <a href="#"><img src="https://avatars.mds.yandex.net/i?id=eab828f1ade2279ee35e281508a6a20b84c01c29-9152550-images-thumbs&n=13" alt=""></a>
                <div class="info">
                    <a href="#">
                        <p>Чебуреки</p>
                    </a>
                    <a href="#">
                        <p>25</p>
                    </a>
                    <a href="#">
                        <button>Купить сейчас</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="right-bar"></div>

    </div>
</body>
</html>